body {
    background-image: url("../images/turtles2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.pageheader {
    font-size: 50px;
    color: black;
    background-color: transparent
}

#about {
    font-size: 25px;
}